<ion-header>
   <ion-toolbar > 
    <table>
        <tr>
            <td><ion-img src="./assets/icon/episodesblue.png"></ion-img></td>            
        </tr>
   </table>   
 </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <ion-searchbar class="font_blue" [(ngModel)]="searchTerm" (ionChange)="searchChanges($event)"></ion-searchbar>
        <ion-item>
            <ion-label class="font_red">Select  type</ion-label>
            <ion-select class="font_red" [(ngModel)]="type" (ionChange)="searchChanges($event)">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option value="episode_id">ID</ion-select-option>
                <ion-select-option value="series">Series</ion-select-option>     
            </ion-select>
        </ion-item>
    <ion-list>    
        <ion-item button detail lines="inset" *ngFor="let episode of episodes | async" (click)="openDetails(episode)">
             <ion-avatar slot="start">
                <img src="./assets/icon/episode.png" alt="ion">
            </ion-avatar>
            <ion-label>
                <h3>{{episode?.title}}</h3>
                <p>{{episode?.air_date}}</p>
            </ion-label> 
        </ion-item>    
  </ion-list>
</ion-content>
