ion-card.background{
    --ion-background-color: rgb(189, 233, 250);    
}

.small-font{
    color: rgb(28, 14, 158); 
    font-size: 0.8rem;
}
.small-black{
    color: rgb(11, 9, 22); 
    font-size: 0.8rem;
}
