ion-card.background{
    --ion-background-color: rgb(189, 233, 250);    
}

.small-font{
    color: rgb(28, 14, 158); 
    font-size: 0.8rem;
}

.font_blue{
    color: rgb(28, 14, 158); 
    font-size: 0.8rem;
}
.font_red{
    color: rgb(233, 37, 31); 
    font-size: 0.8rem;
}